extends layout

block content
  h3= title
  section.player
    h1 Player
    fieldset
     legend deviceorientation
     ul
       li
         legend
           meter(min="-360", max="360", name="deviceorientation_alpha")
           |&nbsp;&#945;
       li
         legend
           meter(min="-360", max="360", name="deviceorientation_beta")
           |&nbsp;&#946;
       li
         legend
           meter(min="-360", max="360", name="deviceorientation_gamma")
           |&nbsp;&#947;
    fieldset
      legend acceleration
      ul
        li
          legend
            meter(min="-1", max="1", name="acceleration_x")
            |&nbsp;x
        li
          legend
            meter(min="-1", max="1", name="acceleration_y")
            |&nbsp;y
        li
          legend
            meter(min="-1", max="1", name="acceleration_z")
            |&nbsp;z
    fieldset
     legend accelerationIncludingGravity
     ul
       li
         legend
           meter(min="-1", max="1", name="accelerationIncludingGravity_x")
           |&nbsp;x
       li
         legend
           meter(min="-1", max="1", name="accelerationIncludingGravity_y")
           |&nbsp;y
       li
         legend
           meter(min="-1", max="1", name="accelerationIncludingGravity_z")
           |&nbsp;z
    fieldset
     legend geolocation
     ul
       li
         legend
           input(type="text", name="geolocation_speed")
           |&nbsp;speed
       li
         legend
           input(type="text", name="geolocation_accuracy") 
           |&nbsp;accuracy
       li
         legend
           input(type="text", name="geolocation_altitudeAccuracy")
           |&nbsp;altitudeAccuracy
       li
         legend
           input(type="text", name="geolocation_altitude") 
           |&nbsp;altitude
       li
         legend
           input(type="text", name="geolocation_longitude") 
           |&nbsp;longitude
       li
         legend
           input(type="text", name="geolocation_heading") 
           |&nbsp;heading
       li
         legend
           input(type="text", name="geolocation_latitude") 
           |&nbsp;latitude
  script(src='/javascripts/lib/require.2.1.1.js', 'data-main'='/javascripts/display')