extends layout

block content
  h3= title
  p
    a(href="/sensor", class="btn btn-success btn-large") Sensor
    | &nbsp; (recommended for iPhone)
  p
    a(href="/display", class="btn btn-success btn-large") Display
    | &nbsp; (recommended for Chrome)
