doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    meta(name="viewport", content="width=device-width, user-scalable=no")
  body
    div.container
      h3= title
      p
        a(href="/sensor", class="btn btn-success btn-large") Sensor
        | &nbsp; (recommended for iPhone)
      p
        a(href="/display", class="btn btn-success btn-large") Display (debug)
        | &nbsp; (recommended for Chrome)
      p
        a(href="/examples/graffiti.html", class="btn btn-success btn-large") Display (Graffiti)
        | &nbsp; (recommended for Chrome)
      p
        a(href="/examples/bobbygame/index.html", class="btn btn-success btn-large") Display (Ruben og Bobby)
        | &nbsp; (recommended for Chrome)
