doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    meta(name="viewport", content="width=device-width, user-scalable=no")
    script(src='/socket.io/socket.io.js')
    script
      window.ws = io.connect('http://homsar.local');
  body
    div.container
      block content