doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, user-scalable=no")
    style
      body{font-family: Helvetica, Sans-Serif}
  body
    h3= title
    script(src='/javascripts/lib/require.2.1.1.js', 'data-main'='/javascripts/sensor')
