<section class="player" data-socketid="device_{{id}}">
  <h1 style="background-color:{{color}}">Player</h1>
  <fieldset>
    <legend>deviceorientation</legend>
    <ul>
      <li>
        <legend>
          <meter min="-360" max="360" name="deviceorientation_alpha"></meter>&nbsp;&#945;
        </legend>
      </li>
      <li>
        <legend>
          <meter min="-360" max="360" name="deviceorientation_beta"></meter>&nbsp;&#946;
        </legend>
      </li>
      <li>
        <legend>
          <meter min="-360" max="360" name="deviceorientation_gamma"></meter>&nbsp;&#947;
        </legend>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>acceleration</legend>
    <ul>
      <li>
        <legend>
          <meter min="-1" max="1" name="acceleration_x"></meter>&nbsp;x
        </legend>
      </li>
      <li>
        <legend>
          <meter min="-1" max="1" name="acceleration_y"></meter>&nbsp;y
        </legend>
      </li>
      <li>
        <legend>
          <meter min="-1" max="1" name="acceleration_z"></meter>&nbsp;z
        </legend>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>accelerationIncludingGravity</legend>
    <ul>
      <li>
        <legend>
          <meter min="-1" max="1" name="accelerationIncludingGravity_x"></meter>&nbsp;x
        </legend>
      </li>
      <li>
        <legend>
          <meter min="-1" max="1" name="accelerationIncludingGravity_y"></meter>&nbsp;y
        </legend>
      </li>
      <li>
        <legend>
          <meter min="-1" max="1" name="accelerationIncludingGravity_z"></meter>&nbsp;z
        </legend>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>geolocation</legend>
    <ul>
      <li>
        <legend>
          <input type="text" name="geolocation_speed">&nbsp;speed
        </legend>
      </li>
      <li>
        <legend>
          <input type="text" name="geolocation_accuracy">&nbsp;accuracy
        </legend>
      </li>
      <li>
        <legend>
          <input type="text" name="geolocation_altitudeAccuracy">&nbsp;altitudeAccuracy
        </legend>
      </li>
      <li>
        <legend>
          <input type="text" name="geolocation_altitude">&nbsp;altitude
        </legend>
      </li>
      <li>
        <legend>
          <input type="text" name="geolocation_longitude">&nbsp;longitude
        </legend>
      </li>
      <li>
        <legend>
          <input type="text" name="geolocation_heading">&nbsp;heading
        </legend>
      </li>
      <li>
        <legend>
          <input type="text" name="geolocation_latitude">&nbsp;latitude
        </legend>
      </li>
    </ul>
  </fieldset>
</section>